@import url('https://fonts.googleapis.com/css?family=Share+Tech');
@import url('https://fonts.googleapis.com/css?family=Ramabhadra');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --main-bg-color:#151616;
  --main-accent-color: #FFFFFF;
}

.app{
  display:grid;
  grid-template-areas:
  "h"
  "m"
  "f";
  grid-template-rows: 600px 700px 700px;
  min-width: 400px;
}

header{
  grid-area: h;
  display: flex;
  flex-direction: column;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),
  url("./assets/img/examplebanner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .nav{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--main-bg-color);
    padding-bottom: 1em;

    & h1{
      color: var(--main-accent-color);
      font-size: 3em;
      font-family: "Share Tech";
      margin-left: 15px;
      margin-top: 55px;
    }
  }

  & .account{
    display: block;
    position: absolute;
    right: 8px;
    top: 80px;
    & li{
      display: inline-block;
      color: var(--main-accent-color);
      list-style-type: none;
      margin: 0 1em;

      & button{
        right: 20px;
        font-family: "Share Tech";
        font-size: 1.3em;
        background-color: transparent;
        color: white;
        border: none;
        padding: 1em;
        text-decoration: none;
        outline: none;
      }
    }
  }

  & .social{
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      & i{
        font-size: 2em;
        color: var(--main-accent-color);
        margin: 0 .25em;
      }
  }

  & .banner{
    z-index: 2;
    margin-top: 50px;
    margin-left: 20px;

    & h3{
      color: white;
      font-size: 2em;
      font-family: "Ramabhadra";
      text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    & .trail-search{
      margin-top: 1em;
      font-size: 1.3em;
      width: 300px;
      border-radius: 10px;
      padding: 7px;
      border: none;
      outline: none;
      float: left;
    }

    & .search-button{
        width: 20px;
        float: right;

      & .fa-search{
        color: white;
        font-size: 2em;
      }

    }
  }

  & .info{
    width: 100%;
    height: 300px;
    background-color: var(--main-bg-color);
    margin-top: auto;

    & p{
      text-align: center;
      margin-top: 50px;
      width: 50%;
      color: white;
      font-size: 1.5em;
      font-family: "Ramabhadra";

    }

    & .a{
      display: block;
      float: left;
    }

    & .b{
      display: block;
      float: right;
    }
  }

}

main{
  grid-area: m;
  display: block;
  position: relative;
  background-color: var(--main-bg-color);
}

footer{
  display: block;
  grid-area: f;
  background-color: var(--main-bg-color);
}


// Flickity

.info { box-sizing: border-box; }

body { font-family: sans-serif; }

/* prevent vertical scroll bar glitch */
html { overflow-y: scroll; }

.carousel {
  background: #EEE;
}

.flickity-page-dots{
  display:none;
}

.carousel-cell {
  width: 100%;
  height: 300px;
  background: var(--main-bg-color);
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


.modalInner{
  z-index: 9999;
  display: block;
  position: fixed;
  top: 200px;
  left: 35vw;
  right: 35vw;
  bottom: 0;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  & form{
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    padding: 1em;
    & label{
      color: black;
    }
    & input{
      font-size: 1em;
    }
    & label, input{
      display: block;
      text-align: center;
      width: 80%;
      margin: auto;
    }
  }
}

.LoginModal{

  & .account-input-button{
    position: absolute;
    right: 100px;
    top: 30px;
  }

  & .modalInner form{
    margin-top: 40px;

    & label{
      margin-top: 20px;
    }
  }

}

.RegisterModal{

  & .account-input-button{
    position: absolute;
    right: 5px;
    top: 30px;
  }

  & .modalInner form label{
    margin-top: 5px;
  }

}

.logout-button{
  position: absolute;
  right: 100px;
  top: 30px;
  display: block;
  font-family: "Share Tech";
  font-size: 1.3em;
  background-color: transparent;
  color: white;
  border-radius: 10px;
}

.mytrails-button{
    position: absolute;
    right: 5px;
    top: 30px;
    width: 90px;
    display: block;
    font-family: "Share Tech";
    font-size: 1.3em;
    background-color: transparent;
    color: white;
    border-radius: 10px;
  }

.account-input-button{
  display: block;
  font-family: "Share Tech";
  font-size: 1.3em;
  background-color: transparent;
  color: white;
  border-radius: 10px;
}

.gmnoprint, .gm-style-cc{
  display:none;
}

.checkmark label:before {
  /*styles outer circle*/
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid orange;
  background-color: transparent;
}

.map-form label{
  color: white;
  font-family: "Share Tech";
}

.trail-maker{
  z-index: 2;
  display: block;
  position: absolute;
  padding: 1em;
  border-bottom-left-radius: 20px;
  right: 0;
  top: 0;
  height: 60%;
  width: 200px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  & label{
    color: black;
  }
}

.trail-maker-heading{
  margin-bottom: 1em;
  & h2{
    font-family: "Ramabhadra";
    font-size: 2em;
  }

  & p{
    margin-top: .5em;
  }
}

.trail-maker-input{
  display: grid;
  margin-bottom: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.trail-maker-waypoints{
  display: block;
  height: 90px;
  margin: 1em 0;
  overflow: scroll;
}

.module-select{
  display: block;
  position: relative;
  margin: 1em;
  height: 95%;
  z-index: 99;

  & .module-toggle{
    display: block;
    position: absolute;
    top: 200px;

    & .module-toggle-containers{
      display: block;
      padding: 1em;
      border-bottom: 2px solid var(--main-accent-color);
      background-color: var(--main-bg-color);
      box-sizing: border-box;

      & .fas{
        font-size: 2em;
        color: var(--main-accent-color);
      }
    }

    & .toggle-top{
      border-top-right-radius: 20px;
      border-right: 3px solid var(--main-bg-color);
      border-top: 3px solid var(--main-bg-color);
    }

    & .toggle-bottom{
      border-bottom-right-radius: 20px;
      border-right: 3px solid var(--main-bg-color);
      border-bottom: 3px solid var(--main-bg-color);
    }

    & .toggle-mid-top, .toggle-mid-bottom{
      border-right: 3px solid var(--main-bg-color);
    }
  }
}

.trail-search-input{
  margin: .3em 0;
  font-size: 16px;
  border-radius: .5em;
  padding: .3em;
}

.trail-search-select{
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: #444;
  line-height: 1.3;
  padding: .3em;
  width: 210px;
  box-sizing: border-box;
  margin: .5em 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  &::-ms-expand{
    display:none;
  }

  &:hover{
    border-color: #888;
  }

  &:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }

  & option {
    font-weight:normal;
  }

  &:disabled, .trail-search-select[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  }

  &:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
  }
}

.list-results-container{
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 430px;
  width: 100%;
  margin: auto;
  padding: 0;
  height: 150px;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);

  & p{
    display: block;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    color: white;
  }

  & .photo-container-details-title{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.2em;
    margin-top: 10px;
    text-overflow: ellipsis;
  }

  &::-webkit-scrollbar{
    outline: 1px solid white;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 20px;
  }

  & .list-results-group{
    margin: 0 10px;
    & .list-results-items{
      display: inline-block;
      text-align: center;
      list-style-type: none;
      margin: 0 10px;
    }
  }
}

.photo-containers{
  width: 250px;
  height: 130px;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(60%);
}

.photo-container-details{
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  font-family: "Ramabhadra";
}

.trail-selected-container{
  display: block;
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 3;
  padding: 1em;

  & img{
    width: 100%;
  }

  & iframe{
    width: 100%;
    height: 100%;
  }

  & .card-img-top{
    margin: auto;
    margin-top: 1em;
  }

  & .trail-name{
    margin-bottom: 5px;
    font-size: 2em;
  }

  & .card-text{
    width: 90%;
    margin-top: 7px;
  }

  & .card-subtitle{
    margin-top: 1em;
  }

  & li{
    list-style-type: none;
    margin-bottom: 7px;
  }

}

.comments-container{
  display: block;
  position: absolute;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--main-bg-color);

  & .comments-user-container{
    display: flex;
    width: 70%;
    margin: auto;

    & form{
      display: flex;
      flex-direction: column;
    }

    & .comments-user-input{
    display: block;
    float: right;
    width: 500px;
    height: 150px;
    margin: 1em;
    resize: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    }

    & .comments-user-input-submit{
      align-self: flex-end;
      background: white;
      border: none;
      width: 100px;
      height: 20px;
    }

    .fa-user{
      display: block;
      width: 70px;
      font-size: 40px;
      padding: 1em;
      margin-right: .5em;
      color: white;
      margin-left: 1em;
    }

  }
}

.trail-selected-map iframe{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}

.comments-all{
  display: flex;
  flex-direction: column;

  & .user-comments-container{
    display: flex;
    width: 70%;
    margin: auto;
    
  
    & .fa-user{
      display: block;
      width: 70px;
      font-size: 40px;
      padding: 1em;
      margin-right: .5em;
      margin-left: 1em;
      color: white;
    }
  
    & .user-comment{
      width: 90%;
      font-size: 16px;
      margin: .5em 1em;
      color: white;
    }
  }

}

.site-greeting{
  font-family: "Ramabhadra";
  color: white;
  text-align: right;
  padding-bottom: 1em;
}

.default-map iframe{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 700px;
}

.footer-placeholder{
  background-color: black;
  height: 100%;
  width: 100%;
}

.streetview-map iframe{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.carousel{
  height: 100%;
  & .carousel-cell{
    height: 100%;
  }
}

.flickity-button{
  position: absolute;
  z-index: 9999;
  left: 10px;
}

button.previous{
  top: 150px;
  transform: rotate(90deg);
}

button.next{
  top: 410px;
  transform: rotate(90deg);
}

.forecastcard-container{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
}

.loggedout-trailviewmap iframe{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 700px;
}

strong{
  font-weight: 400;
}

button{
  outline: none;
}

.login-input-button, .register-input-button{
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.forecast-container{
  display: block;
  position: absolute;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: white;

  & h2{
    text-align: center;
    margin: 1em;
    font-size: 2em;
  }

  & p{
    text-align: center;
    margin: 10px;
  }

    & form{
      margin: 1em;
      text-align: center;
    }

}

.weather-conditions{
  display: block;
  position: absolute;
  height:100%;
  width: 80%;
  top: 0;
  right: 0;
  background-color: lightgrey;

  & p{
    margin-left: 1em;
  }
}

.forecast-button{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: white;

  & button{
    display: block;
    position: absolute;
    margin-left: 10px;
  }
}

.weather-conditions-days{
  margin: 1em;
  text-align: right;
}


.polyline-map-function-a{
  display: block;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & h5, label{
    font-family: "Ramabhadra";
    color: black;
    width: 80%;
    margin-left: 1em;
  }
  & button{
    margin-left: 1em;
  }
}

.test, .directions-map-functions{
  display: block;
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  & h5{
    margin: 1em;
  }
}

.test-group{
  margin: 1em;

  & label{
    font-size: 13px;
  }
}

.polyline-map-function-b{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.directions-map{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.trailsubmission-form{
  background-color: white;
  width: 80%;
  min-width: 500px;
  max-width: 800px;
  margin: auto;
  padding: 1em;
  margin-top: 30px;
  border-radius: 20px;


  & form{
    & label{
      margin-top: 20px;
    }
  }
}

.trailsubmission-form-item{
  display: grid;
  position: relative;
  grid-template-areas: "l i";
  grid-template: 1fr 1fr;
  margin: 7px 0;
  align-items: center;

  & label{
    grid-area: l;
    margin-right: 10px;
  }

  & input, textarea{
    display: block;
    position: absolute;
    grid-area: i;
    width: 300px;
    right: 0;
  }
}

.favorites-button{
  display: block;
  position: absolute;
  right: 10px;
  top: 50px;
  background: none;
  border: none;
}

.fa-star{
  color: gold;
  font-size: 2em;
}

.favorites-container{
  grid-template-rows: 1fr;
  text-align: left;
  padding: 1em;

  & a strong p{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 14px;
  }
}

.favorites-item{
  display: block;
  position: relative;

  & .delete-btn{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.favorites-title{
  font-size: 2em;
  margin-top: 1em;
}