@import url("https://fonts.googleapis.com/css?family=Share+Tech");
@import url("https://fonts.googleapis.com/css?family=Ramabhadra");
:root {
  --main-bg-color:#151616;
  --main-accent-color: #FFFFFF;
}

.app {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h" "m" "f";
  -ms-grid-rows: 60vh 80vh 80vh;
      grid-template-rows: 60vh 80vh 80vh;
  min-width: 400px;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url("./assets/img/examplebanner.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("./assets/img/examplebanner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .nav {
  width: 100%;
  height: 125px;
  display: block;
  float: left;
  background-color: var(--main-bg-color);
  padding-bottom: 1em;
}

header .nav h1 {
  color: var(--main-accent-color);
  font-size: 3em;
  font-family: "Share Tech";
  margin-left: 15px;
  margin-top: 55px;
}

header .account {
  display: block;
  position: absolute;
  right: 8px;
  top: 80px;
}

header .account li {
  display: inline-block;
  color: var(--main-accent-color);
  list-style-type: none;
  margin: 0 1em;
}

header .account li button {
  right: 20px;
  font-family: "Share Tech";
  font-size: 1.3em;
  background-color: transparent;
  color: white;
  border: none;
  padding: 1em;
  text-decoration: none;
  outline: none;
}

header .social {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

header .social i {
  font-size: 2em;
  color: var(--main-accent-color);
  margin: 0 .25em;
}

header .banner {
  z-index: 2;
  margin-top: 5em;
  margin-left: 20px;
}

header .banner h3 {
  color: white;
  font-size: 2em;
  font-family: "Ramabhadra";
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header .banner .trail-search {
  margin-top: 1em;
  font-size: 1.3em;
  width: 300px;
  border-radius: 10px;
  padding: 7px;
  border: none;
  outline: none;
  float: left;
}

header .banner .search-button {
  width: 20px;
  float: right;
}

header .banner .search-button .fa-search {
  color: white;
  font-size: 2em;
}

header .info {
  width: 100%;
  height: 300px;
  background-color: var(--main-bg-color);
  margin-top: auto;
}

header .info p {
  text-align: center;
  margin-top: 50px;
  width: 50%;
  color: white;
  font-size: 1.5em;
  font-family: "Ramabhadra";
}

header .info .a {
  display: block;
  float: left;
}

header .info .b {
  display: block;
  float: right;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: m;
  display: block;
  position: relative;
  background-color: var(--main-bg-color);
}

footer {
  display: block;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: f;
  background-color: var(--main-bg-color);
}

.info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* prevent vertical scroll bar glitch */
html {
  overflow-y: scroll;
}

.carousel {
  background: #EEE;
}

.flickity-page-dots {
  display: none;
}

.carousel-cell {
  width: 100%;
  height: 300px;
  background: var(--main-bg-color);
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.modalInner {
  z-index: 3;
  display: block;
  position: fixed;
  width: 60%;
  margin: auto;
  top: 40vh;
  left: 20vw;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.modalInner form {
  display: block;
  width: 90%;
  margin: auto;
  padding: 1em;
}

.modalInner form label {
  color: black;
}

.modalInner form input {
  font-size: 1em;
}

.modalInner form label, .modalInner form input {
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
}

.modalInner form .account-input-button {
  float: right;
  font-size: 1em;
  margin: 1em;
  padding: .75em;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.map-bottom {
  bottom: 0;
  width: 100%;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 100%);
}

.gmnoprint, .gm-style-cc {
  display: none;
}

.checkmark label:before {
  /*styles outer circle*/
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid orange;
  background-color: transparent;
}

.map-form label {
  color: white;
  font-family: "Share Tech";
}

.trail-maker {
  z-index: 2;
  display: block;
  position: absolute;
  padding: 1em;
  border-bottom-left-radius: 20px;
  right: 0;
  top: 0;
  height: 60%;
  width: 200px;
  background-color: white;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.trail-maker label {
  color: black;
}

.trail-maker-heading {
  margin-bottom: 1em;
}

.trail-maker-heading h2 {
  font-family: "Ramabhadra";
  font-size: 2em;
}

.trail-maker-heading p {
  margin-top: .5em;
}

.trail-maker-input {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.map-container {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.trail-maker-waypoints {
  display: block;
  height: 90px;
  margin: 1em 0;
  overflow: scroll;
}

.module-select {
  display: block;
  position: relative;
  margin: 1em;
  background-color: white;
  height: 95%;
}

.module-select .module-toggle {
  display: block;
  position: absolute;
  top: 200px;
}

.module-select .module-toggle .module-toggle-containers {
  display: block;
  padding: 1em;
  border-bottom: 2px solid var(--main-accent-color);
  background-color: var(--main-bg-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.module-select .module-toggle .module-toggle-containers .fas {
  font-size: 2em;
  color: var(--main-accent-color);
}

.module-select .module-toggle .toggle-top {
  border-top-right-radius: 20px;
  border-right: 3px solid var(--main-bg-color);
  border-top: 3px solid var(--main-bg-color);
}

.module-select .module-toggle .toggle-bottom {
  border-bottom-right-radius: 20px;
  border-right: 3px solid var(--main-bg-color);
  border-bottom: 3px solid var(--main-bg-color);
}

.module-select .module-toggle .toggle-mid-top, .module-select .module-toggle .toggle-mid-bottom {
  border-right: 3px solid var(--main-bg-color);
}
/*# sourceMappingURL=styles.css.map */