.FavoritesModal {
  text-align: center;
}

.modalBackground{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.modalShowing-true{
  opacity: 1;
  pointer-events: showing;
}