.registerModal {
  text-align: center;
}

.registerBackground{
  opacity: 0;
  /* pointer-events: none; */
  transition: opacity 0.2s ease-in-out;
}

.registerShowing-true{
  opacity: 1;
  pointer-events: visible !important;
}